@inject IViewLocalizer localizer


    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-xs-12">
            <img src="~/images/russia_flag.png" />
            <br />
        </div>
    </div>
    <div class="well">
        @localizer["Coming soon"]
    </div>